[submodule "dotfiles-private"]
	path = dotfiles-private
	url = git@github.com:jhauschild/dotfiles-private
[submodule "git/gitstatus"]
	path = git/gitstatus
	url = https://github.com/romkatv/gitstatus.git
